.PeopleSay {
    background: white;
    color: black;
    justify-content: space-around;
    border-bottom: 8px solid grey;
    padding: 20px;
    gap: 40px;
}
.container {
    width: 1015px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.PeopleSayTitle {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.PeopleSayBtn {
    font-size: 0.9em;
    width: 130px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition:
        background-color 0.5s ease,
        color 0.5s ease;
    color: white;
    background-color: black;
    box-sizing: border-box;
}

.PeopleSayBtn:hover {
    color: black;
    background-color: white;
    border: 2px solid silver;
}
@media (min-width: 729px) and (max-width: 1024px) {
    .container {
        width: 100%;
    }
}
@media (max-width: 729px) {
    .PeopleSay {
        padding: 20px 0px;
    }
    .container {
        width: 100%;
    }
    .PeopleSayBtn {
        width: 80px;
        font-size: 0.6em;
    }
}
