.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.slide {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slideContent {
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: opacity 0.5s ease;
    padding-left: 60px;
    border: 2px solid grey;
    border-radius: 20px;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 20px;
}

.rating {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: orange;
}
.title {
    display: flex;
    align-items: center;
}
.prevBtn,
.nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    font-size: 44px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.prevBtn {
    left: 0px;
}

.nextBtn {
    right: 0px;
}
.prevBtn:hover,
.nextBtn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: transform 0.3s ease;
}
@media (max-width: 729px) {
    .slideContent {
        padding: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .prevBtn {
        font-size: 34px;
    }
    .nextBtn {
        font-size: 34px;
    }
    .rating {
        font-size: 25px;
    }
    .avatar {
        margin-right: 10px;
        width: 70px;
        height: 70px;
    }
}
