.menuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    box-sizing: content-box;
    min-height: 400px;
    gap: 20px;
}
.menuItem div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.MenuItemImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1024px) {
    .menuItem {
        min-height: auto;
    }
    .MenuItemImg {
        width: 15vw;
        height: 15vw;
    }
}
