.menuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.menuItemAside {
    display: flex;
    align-items: center;
}

.menuItemTitle {
    margin-right: 20px;
}

.menuItemTitle h5 {
    font-size: 18px;
    margin-bottom: 5px;
}

.menuItemTitle p {
    color: #ebdada;
}

.MenuItemImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
