.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    text-align: left;
}
.itemCoffee {
    display: flex;
    justify-content: center;
    align-items: center;
}
.itemCoffee img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 20px;
    border: 2px solid black;
}
.feature {
    font-size: 14px;
}
.quanitity {
    display: flex;
    align-items: center;
    gap: 20px;
}
.quanitity div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.item button {
    background-color: #ddb892;
    border: 2px solid #ccc;
    border-radius: 30px;
    width: 35px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding: 5px;
    transition: background-color 0.5s ease;
}

.item button:hover {
    background-color: green;
}
.item .deleteIcon {
    cursor: pointer;
    background-color: #996e50;
}
.item .deleteIcon:hover {
    background-color: red;
}
@media (max-width: 729px) {
    .item {
        flex-direction: column;
        gap: 10px;
    }
    .itemCoffee {
        width: 100%;
        justify-content: flex-start;
    }
    .quanitity {
        width: 100%;
        justify-content: center;
    }
}
