.aboutUs {
    margin: 0 auto;
    padding: 30px;
    background: linear-gradient(297deg, black, #00000082);
    color: white;
}

.aboutUs h3 {
    margin-bottom: 15px;
    text-align: center;
}

.aboutUs p {
    margin-bottom: 10px;
}
